---
layout: default
class: home
hide_breadcrumbs: true
title: 如何选择开源软件许可证
permalink: /
---

<h2>
  <span>{</span>
  下面的描述哪种最适合你当前的处境?
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="whatever">
    <a href="licenses/mit">
      <span class="triptych-sprite three-arrows"></span>
      <h3>我更在意简单和较少的约束</h3>
    </a>
    <p>
      <a href="licenses/mit">MIT许可证</a>是一份宽松的许可证。这份许可证的文本简明扼要，只要人们承认你的所属权且不要求你承担责任。
      <br/>
      <br/>                  
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="patents">
    <a href="licenses/apache-2.0/">
      <span class="triptych-sprite lightbulb"></span>
      <h3>我更在意对专利的保护</h3>
    </a>
    <p>
      <a href="licenses/apache-2.0/">Apache2.0许可证</a>和MIT许可证一样是一份宽松的许可证, 但明确表达了作者的专利权和对使用者的授权。
      <br/>
      <br/>            
    </p>
    <p>
      {% include using-sentence.html license-id="apache-2.0" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>我更在意对持续分享的保护</h3>
    </a>
    <p>
      <a href="licenses/gpl-3.0/">GNU GPLv3</a>是一份反版权的许可证,要求基于当前作品分发或衍生的作品都采用同样的许可证和条款。同时也明确的授予了使用者使用作品中包含专利的权利。
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  以上许可证觉得都不合适?
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>我的项目不是软件项目</h3>
    <p>
      <a href="non-software">这里有适合非软件项目的许可证</a>
    </p>
  </li>
  <li>
    <h3>我需要更多的选择</h3>
    <p>
      <a href="licenses">这里有更多的许可证信息</a>
    </p>
  </li>
  <li>
    <h3>我不想使用任何许可证</h3>
    <p>
      <a href="no-license">这里有不使用许可证的情况</a>
    </p>
  </li>
</ul>
