---
layout: default
class: home
hide_breadcrumbs: true
title: Choose an open source license
permalink: /
---

<h2>
  <span>{</span>
  下面的描述哪种最适合你当前的处境?
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="whatever">
    <a href="licenses/mit">
      <span class="triptych-sprite three-arrows"></span>
      <h3>我更在意简单和较少的约束</h3>
    </a>
    <p>
      <a href="licenses/mit">MIT许可证</a>是一份宽松的许可证。这份许可证的文本简明扼要，只要人们承认你的所属权且不要求你承担责任。
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="patents">
    <a href="licenses/apache-2.0/">
      <span class="triptych-sprite lightbulb"></span>
      <h3>我更在意对专利的保护</h3>
    </a>
    <p>
      <br/>
      <a href="licenses/apache-2.0/">Apache2.0许可证</a>和MIT许可证一样是一份宽松的许可证, 但明确表达了作者的专利权和对使用者的授权。
    </p>
    <p>
      {% include using-sentence.html license-id="apache-2.0" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>我更在意对持续分享的保护</h3>
    </a>
    <p>
      The <a href="licenses/gpl-3.0/">GNU GPLv3</a> is a copyleft license that requires anyone who distributes your code or a derivative work to make the source available under the same terms, and also provides an express grant of patent rights from contributors to users.
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  What if none of these work for me?
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>My project isn’t software.</h3>
    <p>
      <a href="non-software">There are licenses for that</a>.
    </p>
  </li>
  <li>
    <h3>I want more choices.</h3>
    <p>
      <a href="licenses">More licenses are available</a>.
    </p>
  </li>
  <li>
    <h3>I don’t want to choose a license.</h3>
    <p>
      <a href="no-license">You don’t have to</a>.
    </p>
  </li>
</ul>
