---
layout: default
permalink: licenses/
class: license-types
title: 许可证
---

<p>开源软件许可证授予所有人以任何目的使用、修改和分享得到许可的软件，但条件是保留软件的原始出处信息和开放性。下面的这些许可证从最强约束性的(GNU AGPLv3)到没有约束条件的(Unlicense)以约束性强弱依次排列。请注意<a href="/">首页</a>上列出的流行许可证(GNU GPLv3,Apache License 2.0,和MIT License)在这个强弱光谱中的位置。<p>
  
<p style="font-size:small; margin-bottom: 40px">如果你需要一份这个站点中全部许可证的参考列表，请访问 <a href="/appendix">附录</a>.</p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="unlicense" %}

The above licenses represent the entire spectrum of open source licenses, from highly protective to unconditional. One of these should work for most new open source projects. Many other open source licenses exist, including older versions of and close substitutes for some of the above. See the resources listed on our <a href="/about/">about page</a> if you'd like to read more.
