<div class="sidebar">

  <a href="#" data-clipboard-target="#license-text" data-proofer-ignore="true" class="js-clipboard-button button">复制许可证文本到剪贴板</a>
    
  <div class="how-to-apply">
    <h3>如何应用这个许可证</h3>
    <p>
      {{ page.how | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% if page.note %}
    <p class="note">
      <strong>Note: </strong> {{ page.note | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}
    {% assign xgpl = false %}
    {% if page.spdx-id contains 'GPL' %}{% assign xgpl = true %}{% endif %}
    <p class="note"><strong>可选: </strong> 添加 <strong><code>{{ page.spdx-id }}</code>{% if xgpl %}+{% endif %}</strong>{% if xgpl %} (or <strong><code>{{ page.spdx-id }}</code></strong> to disallow future versions){% endif %} 到你项目的软件包描述中,  如果适用(例如在 <a href="https://docs.npmjs.com/files/package.json#license">Node.js</a>, <a href="http://guides.rubygems.org/specification-reference/#license=">Ruby</a>, 和 <a href="http://doc.crates.io/manifest.html#package-metadata">Rust</a>包管理系统中). 许可证信息将会被显示在软件包目录列表里。</p>
  </div>

  {% if page.source %}
  <div class="source">
    <a href="{{ page.source }}">
      <span class="license-sprite"></span>
      许可证原本
    </a>
  </div>
  {% endif %}

  {% if page.using %}
  <div class="projects-with-license">
    <h3>谁在使用这份许可证?</h3>
    <ul>
      {% for using in page.using %}
        {% for hash in using %}
          <li><a href="{{ hash[1] }}" target="_blank">{{ hash[0] }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
